:root {
    --swiper-navigation-color: #9333ea;
    --swiper-pagination-bullet-inactive-color: #cccccc;
    --swiper-pagination-color: #9333ea;
}

.swiper-container {
    position: relative;
    width: calc(100% + 32px);
    margin: 0 auto;
    margin-left: -16px;
    display: flex;
    align-items: center;
    min-height: 60vh;
}

.swiper-container .swiper {
    padding: 1.25rem;
    width: 100%;
}

.swiper-slide-img {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 2/3;
    border-radius: 1rem;
}

.email-input-card {
    background-color: #a083f7;
    background-image: url(/assets/images/reflection.svg);
}

.swiper-slide-img img {
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    object-fit: cover;
    z-index: -1;
    transition: 0.3s ease-in-out;
    border-radius: 1rem;
}

.swiper-pagination {
    position: relative !important;
    margin-top: 10px!important;
}
.swiper-pagination-bullet {
    border-radius: 0!important;
    width: 1.5rem!important;
    height: 0.25rem!important;
}

.prev-arrow, .next-arrow, .share-active-image  {
visibility: hidden;
}

.swiper-slide-active {
    position: relative;
    overflow: visible;
}

.swiper-slide-active .prev-arrow, .swiper-slide-active .next-arrow, .swiper-slide-active .share-active-image  {
    visibility:visible;
    position: absolute;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}

.prev-arrow, .next-arrow{
    top: 50%;
    padding: 0.05rem;
    background-color: white;
    border-radius: 50%;
    border-width: 0.2rem;
    border-style: solid;
    border-color: #14183B;
    fill: #14183b;
    z-index: 1000;
    position: absolute;
    
}


.share-active-image{
    top:-2.5%;
    right: -5%;
    padding: 0.4rem;
    background-color: white;
    border-radius: 50%;
}

@media screen and (min-width: 93.75rem) {
    .swiper {
        width: 85%;
    }
}

